{% extends 'base.html.twig' %}
{% block title %}Nouveau film{% endblock %}
{% block content %}
<h1>Créer un film</h1>
{{form(form)}}
<a href="{{ path('app_back_movie') }}">Retour à la liste</a>
{% endblock %}