{% extends 'base.html.twig'%}
{% block content %}
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-6 text-muted">Ajouter une critique sur le film({{movieById.title}})</p>
    </div>

    {{ form_start(form) }}

        <div class="form-content">
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-dark">Envoyer ma critique</button>
        </div>

    {{ form_end(form) }}


{% endblock %}